<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="username" value="testshrid@gmail.com"></parameter>
  <parameter name="password" value="testaccount"></parameter>
  <parameter name="searchText" value="65 inch TV"></parameter>
  	<classes>
      <class name="tests.PurchaseTest"/>
    </classes>
  </test>
</suite> 
